<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Just Ate</title>
  </head>
  <body>
    <div id="root">
      <div class="container">
        <!-- Menu HTML Markup start -->
          <div class="restaurant">
            <div class="media">
              <div class="media-left">
                <img class="mr-3" src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35.jpg" alt="Halo" width="120" height="100" />
              </div>
              <div class="media-body">
                <div class="row">
                  <div class="col-sm-12">
                    <h2>Halo</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2">
                    <span>Stars component here</span>
                  </div>
                  <div class="col-sm-10">
                    <span>2067 reviews</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <span>109 London Road, Stockport, SK7 4HH</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="menu">
              <div class="menu-section">
                <div class="menu-section-header">
                  <div class="row">
                    <div class="col-sm-11">
                      <h4>Burgers</h4>
                    </div>
                    <div class="col-sm-1">
                      <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#someID">v</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <span>All burgers include lettuce, red onions & tomatoes. Add fries £1.39, curly fries £1.79 & sweet potato fries £2.29 extra are available.</span>
                    </div>
                  </div>
                </div>
                <div class="collapse" id="someID">
                  <div class="menu-item">
                    <div class="row">
                      <div class="col-sm-10">
                        <h4>Common Guy Burger</h4>
                      </div>
                      <div class="col-sm-1">
                        <h4>£3.99</h4>
                      </div>
                      <div class="col-sm-1">
                        <button type="button" class="btn btn-success">+</button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <span>Classic beef patty served with American cheese, lettuce, onion, tomato & ketchup on a toasted sesame seed bun.</span>
                      </div>
                    </div>
                  </div>
                  <div class="menu-item">
                    <div class="row">
                      <div class="col-sm-10">
                        <h4>Classic Chicken Burger</h4>
                      </div>
                      <div  class="col-sm-1">
                        <h4>£3.99</h4>
                      </div>
                      <div  class="col-sm-1">
                        <button type="button" class="btn btn-success">+</button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <span>Classic chicken fillet burger served with lettuce & mayo on a toasted sesame bun.</span>
                      </div>
                    </div>
                  </div>
                  <div class="menu-item">
                    <div class="row">
                      <div class="col-sm-10">
                        <h4>Deluxe Cheeseburger</h4>
                      </div>
                      <div  class="col-sm-1">
                        <h4>£4.69</h4>
                      </div>
                      <div  class="col-sm-1">
                        <button type="button" class="btn btn-success">+</button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <span>Beef patty, beef stock, cheese spread, monetary jack cheese & halo sauce.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="menu-section">
                <div class="menu-section-header">
                  <div class="row">
                    <div class="col-sm-11">
                      <h4>Wraps</h4>
                    </div>
                    <div class="col-sm-1">
                      <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#someOtherID">v</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <span>Add fries £1.39, curly fries £1.79 & sweet potato fries £2.29 extra are available.</span>
                    </div>
                  </div>
                </div>
                <div class="collapse" id="someOtherID">
                  <div class="menu-item">
                    <div class="row">
                      <div class="col-sm-10">
                        <h4>Classic Wrap</h4>
                      </div>
                      <div  class="col-sm-1">
                        <h4>£3.79</h4>
                      </div>
                      <div  class="col-sm-1">
                        <button type="button" class="btn btn-success">+</button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <span>Chicken fillet, lettuce & mayo.</span>
                      </div>
                    </div>
                  </div>
                  <div class="menu-item">
                    <div class="row">
                      <div class="col-sm-10">
                        <h4>Peri Wrap</h4>
                      </div>
                      <div  class="col-sm-1">
                        <h4>£3.99</h4>
                      </div>
                      <div  class="col-sm-1">
                        <button type="button" class="btn btn-success">+</button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <span>Chicken fillet, lettuce & peri mayo.</span>
                      </div>
                    </div>
                  </div>
                  <div class="menu-item">
                    <div class="row">
                      <div class="col-sm-10">
                        <h4>Mexican Wrap</h4>
                      </div>
                      <div  class="col-sm-1">
                        <h4>£4.79</h4>
                      </div>
                      <div  class="col-sm-1">
                        <button type="button" class="btn btn-success">+</button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <span>Chicken fillet with American cheese, hot salsa, nachos, jalapenos & guacamole.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- Menu HTML Markup end -->
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>